<section>
  <section fxFill fxLayoutAlign="space-between center">
    <h1>All Features</h1>
    <button mat-button color="primary" (click)="addFeature()">
      <mat-icon>add</mat-icon> 
      <span>ADD FEATURE</span> 
    </button>
  </section>
  <section *ngIf="loading" class="spinner" fxLayout="col" fxLayoutAlign="center center" fxFill>
      <mat-spinner strokeWidth="5" diameter="70"></mat-spinner>
   </section>

  <section fxFill fxLayoutAlign="start start" fxLayout="row wrap" fxLayoutGap="15px">
   
    <mat-card class="feature-card" *ngFor="let feature of features" fxFlex="350px">
     
      <img mat-card-image (click)="viewButton(feature.id)" [src]="feature.isCustom ? '../../assets/img/feature-img.png' : feature.image"
        alt="" style="cursor: pointer;">
           
        <span class="subtitle">{{ feature.category }}</span>
         <h2><a (click)="viewButton(feature.id)"  class="primary" style="cursor: pointer;">
           {{ feature.title }}
            </a>
         </h2>
      <mat-card-actions align="right">
        <button mat-icon-button color="warn" (click)="addVote(feature.id, feature.votes)"> 
            <mat-icon>favorite</mat-icon>
      </button>
      <span class="votes">{{ feature.votes }}</span>

      </mat-card-actions>
    </mat-card>

       <mat-card  matRipple matRippleColor="accent" fxFlex="350px" class="card add-feature" *ngIf="!loading" (click)="addFeature()">
            <a style="cursor: pointer;" >
              <mat-card-content fxLayoutAlign="center center" fxLayout="column" fxFill="339px">

                <mat-icon color="primary">
                  add
                </mat-icon>
                <!-- <h3>ADD FEATURE</h3> -->
              </mat-card-content>
            </a>
          </mat-card>


  </section>
</section>
