<section>
  <section fxFill fxLayoutAlign="space-between center">
    <h3>ALL FEATURES</h3>
    <button class="top-button" mat-button color="primary" (click)="addFeature()">
      <mat-icon color="primary">add_circle</mat-icon> 
      <span>ADD FEATURE</span> 
    </button>
  </section>
  <section *ngIf="loading" class="spinner" fxLayout="col" fxLayoutAlign="center center" fxFill>
      <mat-spinner strokeWidth="5" diameter="70"></mat-spinner>
   </section>

  <section fxFill fxLayoutAlign="start start" fxLayout="row wrap" fxLayoutGap="15px">
   
    <mat-card class="feature-card" *ngFor="let feature of features" fxFlex="350px">

      <img mat-card-image [src]="feature.isCustom ? '../../assets/img/feature-img.png' : feature.image"
        alt="">

 <mat-card-title>{{ feature.title }}</mat-card-title>
        <mat-card-subtitle>  
           <mat-icon color="primary">folder</mat-icon>
           <span>{{ feature.category }}</span>
         </mat-card-subtitle>
      <!-- <mat-card-content>
        <p>{{ feature.description }}</p>
      </mat-card-content> -->
      <mat-card-actions align="center">
         <button mat-button color="primary" (click)="viewButton(feature.id)">
            <i class="material-icons">open_in_new</i>
            <span>View</span>
         </button>
        <button mat-icon-button color="warn" (click)="addVote(feature.id)">
            <i class="material-icons">favorite</i>
            <span>{{ feature.votes }}</span>
      </button>
      </mat-card-actions>
    </mat-card>

       <mat-card  matRipple matRippleColor="accent" fxFlex="350px" class="card add-feature" *ngIf="!loading" (click)="addFeature()">
            <a style="cursor: pointer;" >
              <mat-card-content fxLayoutAlign="center center" fxLayout="column" fxFill="339px">

                <mat-icon color="primary">
                  add_circle
                </mat-icon>
                <h3>ADD FEATURE</h3>
              </mat-card-content>
            </a>
          </mat-card>


  </section>
</section>
