/* You can add global styles to this file, and also import other style files */
/* /@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');
html, body { height: 100%; }
body { margin: 0;
background: #e2dfd26b; font-family: 'Noto Sans', sans-serif;
}

header {
   background: #111;
   width: 100%;
}
header img {
   width: 50px;
   height: 50px;
}
header h2 {
   line-height: 50px;
   font-size: 18px;
   color: white;
   margin: 0 0 0 10px;
}
.mat-stepper-horizontal {
   background-color: transparent;
}
.main {
      padding: 20px;
    display: block;
}
h1 {
   font-size: 2rem;
   color: #000;
   text-align: center;
}
.top-button span {
   margin-left: 5px;
}
.section--question {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mat-chip .mat-primary .mat-standard-chip {
   margin-top: 10px;
}

mat-chip-list {
   margin: 0 0 10px 0;
}
.feature-modal .label {
   font-size: 16px;
    font-weight: 700;
    color: #3338;
    margin-bottom: 5px;
}

.feature-modal .image {
   width: auto;
   display: block;
   margin: 10px auto 20px auto;
   height: 250px;
}

.feature-modal .description {
   padding: 15px;
   background: #5551;
}

.feature-modal h2, .feature-modal p {
   margin: 0 0 10px 0;
}
.mat-form-field-wrapper {
   width: 500px;
}
.mat-form-field-underline {
   display: none;
}
.mat-form-field-flex {
   border-radius: 10px !important;
   padding: 1em 1em 0 1.5em !important;
}
button, a {
  margin-right: 8px;
}
.spinner {
   height: 400px !important;
}
.mat-card-subtitle {
   display: flex !important;
   align-items: center !important;
}
.mat-card-subtitle span {
   margin-left: 5px;
   color: #3f51b5;
   font-weight: 700;
}
.card {
   height: 339px;
   margin: 15px 0;
   border-radius: 0 !important;
   box-shadow: none !important;
   border: 5px dashed #3f51b5;
   background: transparent;
}
.feature-card.mat-card {
   box-shadow: none !important;
   border-radius: 0;
   margin: 15px 0;
}
